body {
    text-align: center;
}

div {
    height: 50px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;

}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: green;
}

#box3 {
    background-color: blue;
}

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: aqua;
}