div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    /* transition: all 2s ease-in 2s; */
    position:absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(360deg); */
    transform: scale(3,3);
}

div:hover {
    background-color: red;
    color: white;
}

dic:active {
    background-color: green;
}