.navbar {
    background-color:green;
    display: flex;
    justify-content:space-evenly;
    
}

a {
    text-decoration: none;
    color: red;
}

li {
    list-style-type:none;
    background-color:blue;
}

.outer {
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: green;
}